<h2>Welcome, How Can We Help You?</h2>

<md-card-content>
  <fa-stethoscope></fa-stethoscope><h2>Book a Consultation</h2>

  Seeing a doctor is easy. You can book a consultation in seconds and speak to a leading GP in minutes. Most of the time
  patients problems are resolved there and then, with prescriptions arranged where necessary.
  Our UK and Ireland based GPs are available wherever you are, at a time that suits you.

  Unlimited consultations for just £4.99 or €7.99 per month.
  <virtualDocImg></virtualDocImg>
  <md-button ui-sref="booking">SEE A DOCTOR NOW</md-button>
</md-card-content>
