<md-content class="md-padding" layout="column" layout-fill layout-padding>
  <h2>Book a Consultation</h2>

  <md-card>
    <md-card-content>
      <p>
        Seeing a doctor is easy. You can book a consultation in seconds and speak to a leading GP in minutes. Most of the time
        patients problems are resolved there and then, with prescriptions arranged where necessary.<br>
        Our UK and Ireland based GPs are available wherever you are, at a time that suits you.
      </p>
      <p class="bold">
        Unlimited consultations for just £4.99 or €7.99 per month.
      </p>
      <div class="virtualdoc"></div>
      <md-button class="md-raised md-primary" ui-sref="booking">SEE A DOCTOR NOW</md-button>
    </md-card-content>
  </md-card>
</md-content>
